@model HubHumano.Models.cargo

@{
    ViewBag.Title = "Delete";
}

<br />
<h2>Eliminar Cargo:</h2>

<h5>Seguro que deseas eliminar el siguiente cargo?</h5>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Cargo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
