@model HubHumano.Models.cargo

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Detalles:</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cargo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new {@class = "btn btn-warning" }) |
    @Html.ActionLink("Regresar", "Index")
</p>
