@{
    ViewBag.Title = "";
}
<link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css"/>
<style>
</style>
<br />
<div class="jumbotron" style="background-color:rgba(255, 144, 0, 0.12);">
    
    <h1 style="text-align:center; font-family:'Monotype Corsiva';">Hub Humano</h1>
    <p class="lead">Hub Humano, es una aplicación web de manejo y gestión de recursos humanos,
    la cual cuenta con herramientas como mantenimientos, procesos e informes.
    Es una aplicación web resposiva por lo cual usted puede acceder desde cualquier dispositivo con navegador web
    y consultar las herramientas que desee.</p>
    <p><a href="/Home/About" class="btn btn-success btn-sm">Acerca de &raquo;</a></p>
</div>
<br />
<style>
    .card:hover {
        -webkit-box-shadow:-10px 9px 40px -80px rgba(0, 0, 0, 0.70);
        -moz-box-shadow:-10px 9px 40px -12px rgba(0, 0, 0, 0.70);
        box-shadow:-10px 9px 40px -12px rgba(0, 0, 0, 0.70);
    }
</style>

<div class="row" style="align-items:center;">
    <div class="col-md-4">     
        <div class="card" style="width: 18rem;">
            <img src="~/imgs/mantenimiento.png" class="card-img-top" alt="..." style="width:auto;height:180px">
            <div class="card-body" style="text-align:center;">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-success">Procesos</a>
            </div>
            
        </div>
        
    </div>
    <div class="col-md-4">
        
            <div class="card" style="width: 18rem;">
                <img src="~/imgs/proceso.png" class="card-img-top" alt="..." style="width:auto;height:180px">
                <div class="card-body" style="text-align:center">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-success">Procesos</a>
                </div>
                
            </div>
        

    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/imgs/informe.png" class="card-img-top" alt="..." style="width:auto;height:180px">
            <div class="card-body" style="text-align:center;">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-success">Procesos</a>
            </div>
        </div>
        


    </div>
</div>
<script>
    $(document).ready(function () {

        $('.col-md-4').hover(
            // trigger when mouse hover
            function () {
                $(this).animate({
                    marginTop: "-=1%",
                }, 200);
            },

            // trigger when mouse out
            function () {
                $(this).animate({
                    marginTop: "0%"
                }, 200);
            }
        );
    });
</script>